<header class="header {% block header_attributes %}{% endblock %}">
  {% if transition.transition_page_active === true %}
    {% set infoSnippets = transition.information_sections %}
  {% else %}
    {% set infoSnippets = home.information_sections %}
  {% endif %}

  <nav class="nav">
    <a class="nav__item nav__item--activator">Menu</a>
    <a class="nav__item nav__item--deactivator">×</a>
    <a class="nav__item nav__item--pages" href="/">RISD Weekend</a>

    {% if cms.generalinformation.show_events %}
    <a class="nav__item nav__item--pages" href="#events">Events</a>
    {% endif %}

    {% for information in infoSnippets %}
      {% if information.show_in_nav === true %}
        <a class="nav__item nav__item--pages" href="#{{ information.name|lower|replace(' ', '-', 'g') }}">{{ information.name }}</a>
      {% endif %}
    {% endfor %}

    {% if item.show_placeholder_text === false && cms.generalinformation.show_registration %}
      <a class="nav__item nav__item--pages" href="https://engage.risd.edu/risdweekend-2018" target="_blank">Registration<span>➞</span></a>
    {% endif %}

    {# <a class="nav__item nav__item--pages" href="" target="_blank">Who's coming?<span>➞</span></a> #}
  </nav>

</header>
