<header class="header {% block header_attributes %}{% endblock %}">
  {% set infoSnippets = item.information_snippets %}

  <nav class="nav">
    <a class="nav__item nav__item--activator">Menu</a>
    <a class="nav__item nav__item--deactivator">×</a>
    <a class="nav__item nav__item--pages" href="/">RISD Weekend</a>
    <a class="nav__item nav__item--pages" href="#events">Events</a>
    {% for information in infoSnippets %}
      {% if information.show_in_nav === true %}
        <a class="nav__item nav__item--pages" href="#{{ information.name|lower|replace(' ', '-', 'g') }}">{{ information.name }}</a>
      {% endif %}
    {% endfor %}
    <a class="nav__item nav__item--pages" href="http://www.cvent.com/events/risd-weekend-2017/attendees-15-4d99c2ec1b774e2ebddcee86dfcea07d.aspx" target="_blank">Who's coming?<span>➞</span></a>
  </nav>

</header>
