.announcement__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.announcement {
  flex-basis: 51%;
  flex-grow: 1;
  width: auto;
  @include text-size($large);
  @include media($mobile) {
    line-height: 1;
  };
  @include media($tablet) {
    line-height: 1;
  };
  @include media($laptop) {
    line-height: 1;
  };
  @include media($desktop) {
    line-height: 1;
  };
}

.announcement__date {

}

.announcement__location {
  @include media($tablet) {
    margin-left: 4.1em;
  };
  @include media($laptop) {
    margin-left: 6.3em;
  };
}



// Theme colors --------------------------------------------- //

.layout__campaign-color {
  .announcement {
    color: $black;
  }
}

.layout__white {
  .announcement {
    color: $campaign-color;
  }
}

.layout__black {
  .announcement {
    color: $white;
  }
}
