.calendar-box__container {
  display: flex;
  flex-wrap: wrap;
}

.calendar-box {
  flex-wrap: wrap;
  width: 100%;
}

.calendar-box__toggle {
  display: flex;
  // justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.calendar-box__button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: $space--xxsmall;
  @include text-size($m);
  transition: all 0.2s ease;
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 0.5rem;
  margin-right: 0;
  border: 2px solid $white;
  box-sizing: border-box;
  color: $white;
  background-color: $campaign-color;

  &:hover {
    color: $campaign-color;
    background-color: $white;
  }
  &.active {
    color: $campaign-color;
    background-color: $white;
  }

  @include respond-above(medium) {
    margin-right: 1rem;
    flex-basis: auto;
    padding: 0.25rem 0.5rem;
    text-align: center;
    margin-bottom: none;
  };
}

.calendar-box__column, .calendar-box__column--print {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-basis: 100%;
}

.calendar-box__column {
  margin-bottom: 1rem;
}

.calendar-box__column--hidden {
  display: none;
}

.calendar-box__section-title {
  @include text-size($l);
  font-weight: bold;
  text-transform: uppercase;
  word-break: break-word;
  margin-top: 2rem;
  color: $black;
}

.calendar-box__item {
  padding: $space--small 0;
  border-bottom: 2px solid;
  width: auto;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  transition: all 0.2s ease;
  border-color: $white;
  color: $white;

  @include respond-above(medium) {
    padding: $space--medium 0;
  }

  &:last-child {
    border-bottom: none;
  }
}

.calendar-box__item--hover {
  padding: $space--small;
  @include respond-above(medium) {
    padding: $space--medium;
  }
  background-color: $white;
  color: $campaign-color;

  .calendar-box__title {
    color: $campaign-color;
  }

}

.calendar-box__item-toggle {
  width: auto;
  display: inline-block;
  flex-grow: 0;
  order: 3;
  flex-basis: 100%;
  text-align: center;
  margin-top: $space--small;
  line-height: 0;

  @include respond-above(medium) {
    margin-top: 0;
    text-align: left;
    flex-basis: auto;
    order: 2;
    line-height: 1;
  };

  &:after {
    @include font-family($ff-pictographic);
    font-weight: bold;
    @include text-size($m);
    content: "ﬂ";
    display: inline-block;
    transform: rotate(45deg);
  }
}

.calendar-box__item-toggle--active {
  &:after {
    transform: rotate(0deg);
  }
}

.calendar-box__item--priority {

}

.calendar-box__header {
  width: auto;
  display: inline-block;
  flex-grow: 1;
  flex-basis: 100%;
  margin-right: $space--small;
  order: 1;

  @include respond-above(medium) {
    flex-basis: 90%;
  };
}

.calendar-box__title {
  display: block;
  @include text-size($m);
  transition: all 0.2s ease;
  color: $white;
}

.calendar-box__subtitle {
  font-weight: normal;
  font-style: italic;
  display: block;
}

.calendar-box__info {
  display: inline;
  font-weight: bold;
  color: $black;
}

.calendar-box__description {
  flex-grow: 1;
  flex-basis: 100%;
  margin-top: $space--small;
  order: 2;
  color: $black;

  @include respond-above(medium) {
    order: 3;
  };
}

.calendar-box__description--hidden {
  display: none;
}


.calendar-box__tag {

}

.calendar-box__wordmark-container {
  display: none;
}

.calendar-box__link-button {
  width: auto;
  display: inline-block;
  margin-top: 2rem;
  a {
    font-weight: bold;
    display: inline-block;
    @include text-size($m);
    transition: all 0.2s ease;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 0.5rem;
    margin-right: 0;
    color: $black;
    border-bottom: 2px solid $white;
    &:hover {
      color: $white;
    }

    @include respond-above(medium) {
      margin-right: 1rem;
      flex-basis: auto;
      text-align: center;
      margin-bottom: none;
    };
  }
}
