.information__container {

}

.information {

}

.information__title {

}

.information__section {
  width: 100%;
}

.information__main-description-container {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid $black;
  width: 100%;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.information__main-description {
  width: 100%;
  color: $black;

  @include respond-above(large) {
    width: 60%;
    margin-left: 40%;
  };

  p {
    max-width: 40em;
  }

  a {
    transition: color 0.1s ease;
    border-color: $white;
    &:hover {
      color: $white;
    }
  }

  p + p {
    margin-top: 1rem;
  }
}

.information__subsection {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid $black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &:last-child {
    border-bottom: none;
  }
}

.information__subsection-title {
  width: 100%;
  color: $black;
  @include text-size($m);
  text-transform: uppercase;
  @include respond-above(large) {
    width: 40%;
  };
}

.information__subsection-description {
  width: 100%;
  color: $black;

  @include respond-above(large) {
    width: 60%;
  };

  p {
    max-width: 40em;
  }

  p + h3 {
    margin-top: 2rem;
  }

  p + p {
    margin-top: 1rem;
  }

  a {
    transition: color 0.1s ease;
    border-color: $white;
    &:hover {
      color: $white;
    }
  }
}

.information__button {
  display: inline-block;
  width: 100%;
  @include respond-above(large) {
    width: 60%;
  };
}

.information__button-link {
  @include text-size($m);
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: none;
  padding: $space--xxsmall;
  background-color: $white;
  color: $black;
  transition: all 0.1s ease;
  &:hover {
    background-color: $black;
    color: $white;
  }
}
