.modal__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 6000;
  width: 100%;
  height: 100%;
  cursor: pointer;
  // visibility: hidden;
  // opacity: 0;
  transition: all 0.5s ease;
}

.modal__background {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

.modal {
  cursor: auto;
  overflow-y: auto;
  height: calc(100vh - 1rem);
  width: calc(100vw - 1rem);

  @include respond-above(medium) {
    height: calc(100vh - 2rem);
    width: calc(100vw - 2rem);
  };
}

.modal__item {
  display: none;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 5vh 5vw;
  @include respond-above(medium) {
    width: 75%;
    margin-left: 12.5%;
    padding: 10vh 0;
  };
  @include respond-above(large) {
    width: 80%;
    margin-left: 10%;
  };
  @include respond-above(huge) {
    width: 85%;
    margin-left: 7.5%;
  };
}

.modal__item-toggle {
  @include text-size($l);
  cursor: pointer;
  transition: color 0.1s ease;
  padding: 1vh 2.5vw;
  position: absolute;
  width: auto;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 9000;
  @include respond-above(medium) {
    padding: 2vh 3vw;
  };
}

.modal__header {
  width: 100%;
}

.modal__title {
  @include text-size($l);
  font-weight: bold;
  text-transform: uppercase;
  word-break: break-word;
  margin-bottom: 0.3rem;
}

.modal__subtitle {
  font-style: italic;
  text-transform: none;
  display: block;
}

.modal__info {
  @include text-size($m);
  font-weight: bold;

  a {
    transition: all 0.2s ease;
  }
}

.modal__button {
  @include text-size($m);
  font-weight: bold;
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid;
}

.modal__description {
  width: 100%;
  @include respond-above(large) {
    width: 50%;
  };

  @include text-size($s);
  font-weight: bold;

  p:first-child {
    margin-top: 1rem;
  }

  p {
    max-width: 40em;
  }

  p + p {
    margin-top: 1rem;
  }
}

.modal__subevent-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.modal__subevent {
  margin-top: 2rem;
  width: 100%;
  @include respond-above(large) {
    width: calc(50% - 2rem);
    &:nth-child(2n) {
      margin-left: 2rem;
    }
  };
}

.modal__subevent-title {
  @include text-size($s);
  font-weight: bold;
  text-transform: uppercase;
}

.modal__subevent-subtitle {
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  display: block;
}

.modal__subevent-info {
  @include text-size($s);
  font-weight: bold;
}

.modal__subevent-description {
  @include text-size($s);
}

.modal--on {
  display: flex;
}

.modal--fade_in {
  visibility: visible;
  opacity: 1;
}

.modal--slide_in {
  left: 0;
}

.modal__body--noscroll {
  overflow: hidden;
}


// Theme colors --------------------------------------------- //

.layout__campaign-color {
  .modal {
    background-color: $white;
  }
  .modal__item-toggle {
    color: $campaign-color;
    &:hover {
      color: $black;
    }
  }
  .modal__title {
    color: $campaign-color;
  }
  .modal__info {
    color: $black;
    a {
      &:hover {
        color: $campaign-color;
      }
    }
  }
  .modal__button {
    color: $black;
    border-color: $black;
    background-color: $white;
    &:hover {
      color: $white;
      background-color: $black;
    }
  }
  .modal__description {
    color: $black;
    &::before {
      color: $campaign-color;
    }
  }
  .modal__subevent-title {
    color: $campaign-color;
  }
  .modal__subevent-info {
    color: $black;
  }
  .modal__subevent-description {
    color: $black;
  }
}

.layout__white {
  .modal {
    background-color: $black;
  }
  .modal__item-toggle {
    color: $campaign-color;
    &:hover {
      color: $white;
    }
  }
  .modal__title {
    color: $campaign-color;
  }
  .modal__info {
    color: $white;
    a {
      &:hover {
        color: $campaign-color;
      }
    }
  }
  .modal__button {
    color: $white;
    border-color: $white;
    background-color: $black;
    &:hover {
      color: $black;
      background-color: $white;
    }
  }
  .modal__description {
    color: $white;
    &::before {
      color: $campaign-color;
    }
  }
  .modal__subevent-title {
    color: $campaign-color;
  }
  .modal__subevent-info {
    color: $white;
  }
  .modal__subevent-description {
    color: $white;
  }
}

.layout__black {
  .modal {
    background-color: $campaign-color;
  }
  .modal__item-toggle {
    color: $white;
    &:hover {
      color: $black;
    }
  }
  .modal__title {
    color: $white;
  }
  .modal__info {
    color: $black;
    a {
      &:hover {
        color: $white;
      }
    }
  }
  .modal__button {
    color: $black;
    border-color: $black;
    background-color: $campaign-color;
    &:hover {
      color: $campaign-color;
      background-color: $black;
    }
  }
  .modal__description {
    color: $black;
    &::before {
      color: $white;
    }
  }
  .modal__subevent-title {
    color: $white;
  }
  .modal__subevent-info {
    color: $black;
  }
  .modal__subevent-description {
    color: $black;
  }
}
