.header {
  text-align: center;
  z-index: 2000;
  margin: auto;
  width: 90vw;

  @include respond-above(small) {
    width: 100vw;
  };
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  list-style: none;
  margin-bottom: 0;
  width: 100%;
}

.nav--up {
  top: -100px;
}

.nav--down {
  top: 0;
}


.nav__item {
  padding: $space--small 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  display: none;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  transition: color 0.1s ease;
  @include text-size($m);
  width: 100%;
  border-bottom: 2px solid;
  &:last-child {
    border-bottom: none;
  }

  @include respond-above(large) {
    @include text-size($s);
    display: flex;
    width: auto;
    justify-content: center;
    flex-grow: 1;
    align-items: stretch;
    border-bottom: none;
  };

  span {
    // @include font-family($ff-pictographic);
    // font-weight: normal;
    display: inline-block;
    transform: rotate(-45deg);
  }

}

.nav__item--activator {
  cursor: pointer;
  border-bottom: none;
  @include text-size($m);
  display: flex;

  @include respond-above(large) {
    display: none;
  };

  @include respond-above(huge) {
    display: none;
  };
}

.nav__item--deactivator {
  cursor: pointer;
  font-weight: normal;
  @include text-size($l);
  display: none;
}

.nav__item--active {

  @include respond-above(medium) {

    & + .nav__item {

    }

  };

}

.nav__item--show {
  display: flex;
}

.nav__item--hide {
  display: none;
}

.nav--toggled {
  height: 100%;
}

.body--no-scroll {
  overflow: hidden;
}

.nav__anchor {
  position: relative;
  top: -100px;
  visibility: hidden;
  display: block;
}

.nav__anchor--home {
  position: absolute;
  top: 0;
}



// Theme colors --------------------------------------------- //

.layout__campaign-color {
  .nav {
    background-color: $black;
  }
  .nav__item {
    color: $white;
    border-color: $campaign-color;
    &:hover {
      color: $campaign-color;
    }
  }
  .nav__item--active {
    color: $campaign-color;
    &:hover {
      color: $campaign-color;
    }
  }
}

.layout__white {
  .nav {
    background-color: $campaign-color;
  }
  .nav__item {
    color: $black;
    border-color: $white;
    &:hover {
      color: $white;
    }
  }
  .nav__item--active {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.layout__black {
  .nav {
    background-color: $white;
  }
  .nav__item {
    color: $campaign-color;
    border-color: $black;
    &:hover {
      color: $black;
    }
  }
  .nav__item--active {
    color: $black;
    &:hover {
      color: $black;
    }
  }
}

.layout__transition {
  .nav {
    background-color: $black;
  }
  .nav__item {
    color: $white;
    border-color: $campaign-color;
    &:hover {
      color: $campaign-color;
    }
  }
  .nav__item--active {
    color: $campaign-color;
    &:hover {
      color: $campaign-color;
    }
  }
}
