.poster-moment {
  background-color: $campaign-color;
  width: 100%;
  height: 100vh;
  @include font-family($ff-sans);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  align-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.poster-moment__container {
  display: flex;
  height: 90vh;
  margin: 3rem auto 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  background-position: center;
  background-size: contain;

  .poster-moment--transition & {
    margin-top: 0;
    cursor: default;
  }
}


.poster-moment--transition {
  background-color: $campaign-color;
  width: 100%;
  // height: 100vh;
  @include font-family($ff-sans);
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 0;
  align-content: stretch;

  .poster-moment__container {
    height: 70vh;
    align-items: flex-start;
    align-content: flex-start;
    margin: 3rem auto -4rem auto;
    width: 80vw;
    @include respond-above(medium) {
      width: 75%;
    };
    @include respond-above(large) {
      width: 60%;
    };
    @include respond-above(huge) {
      width: 45%;
    };
  }
}

.poster-moment__item {
  position: relative;
  // flex-basis: 100%;
  // flex-grow: 1;
  width: auto;
  display: inline-block;
  font-weight: bold;
  line-height: 0.844;
  animation-duration: 2s;
  animation-name: fadeIn;
  text-transform: uppercase;
  font-size: 13vmin;
  left: 0;
  transition: all 0.5s ease;
  color: $black;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.poster-moment__item--modifiers {
  width: auto;
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  transition: transform 0.2s ease;
  mix-blend-mode: multiply;

  &.wiggle {
    animation: wiggle 0.8s ease both;
  }

}

@keyframes wiggle {
  10%, 90% {
    transform: translateX(-0.1em);
  }

  20%, 80% {
    transform: translateX(0.1em);
  }

  30%, 50%, 70% {
    transform: translateX(-0.2em);
  }

  40%, 60% {
    transform: translateX(0.2em);
  }
}

.poster-moment__modifier {
  transition: all 0.5s ease;
  color: $white;
}

.poster-moment__image {
  display: flex;
  align-items: center;
  margin: -2rem;

  img {
    height: 120%;
    width: initial;
  }
}

.poster-moment__item--active {
  // display: inline-block;
}

.poster-moment__item--inactive {
  display: none;
}

.poster-moment__item--superscript {
  position: relative;
  top: -0.66667em;
  font-size: 0.5em;
}

.poster-moment__button {
  text-align: center;
  align-self: flex-end;
}

.poster-moment__button-link {
  display: block;
  border: none;
  @include text-size($l);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.1s ease;
  transition: background-color 0.1s ease;
  background-color: $white;
  color: $campaign-color;
  &:hover {
    background-color: $campaign-color;
    color: $white;
  }
}

.poster-moment__button-text {
  display: block;
  border: none;
  @include text-size($l);
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: $black;
  color: $campaign-color;
}


#poster-moment__risd {

}
#poster-moment__week {

}
#poster-moment__end {

}
#poster-moment__modifier--1 {

}
#poster-moment__modifier--2 {

}
#poster-moment__modifier--3 {

}
#poster-moment__modifier--4 {

}
.poster-moment__transition {
  width: auto;
  flex-grow: 0;
  flex-basis: auto;
}
