@page {
  margin: 4rem 1.5in;
}

@media only screen {
  body {
    margin: 4rem 4rem;
  }
}

.header,
.section__title,
.calendar-box__item-toggle,
.modal__container {
  display: none;
}

.calendar-box__container {
  padding-top: 1rem;
}

.calendar-box__wordmark-container {
  display: block;
  width: 100%;
  text-align: center;
}

.calendar-box__wordmark {
  width: 150pt;
}

.calendar-box__column-container {
  // columns: 2; // columns don't work in Safari :(
  column-gap: 3rem;
  margin-top: 4rem;
}

.calendar-box__section-title {
  margin: 0 0 1rem;
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.calendar-box__first-item {
  page-break-inside: avoid;
}

.calendar-box__item {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid currentColor;
}

.calendar-box__title {
  font-size: 12pt;
  page-break-inside: avoid;
}

.calendar-box__subtitle {
  font-weight: normal;
  page-break-inside: avoid;
  em {
    font-style: italic;
  }
}

.calendar-box__info {
  font-weight: normal;
  width: 100%;
  font-size: 9pt;
  page-break-inside: avoid;
}

.calendar-box__time {
  display: inline;
}
