.section__container {
  padding-bottom: 10rem;
  margin: -5rem auto 0 auto;
  padding-top: 5rem;
  width: 80vw;

  &:first-of-type {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
  
  @include respond-above(medium) {
    width: 80%;
  };
  @include respond-above(huge) {
    width: 70%;
  };
  @include respond-above(massive) {
    width: 65%;
  };
}

.section__container--wide {
  width: 100%;
}

.section__title {
  @include text-size($xl);
  // font-size: 13vmin;
  text-transform: uppercase;
  word-break: break-word;

  padding-bottom: 1rem;

  &::after {
    content: "—";

    display: block;
    margin-top: -0.3em;
  }

}

.section__description {
  @include text-size($m);
  margin-bottom: 2rem;

  p + p {
    margin-top: 1rem;
  }
}



// Theme colors --------------------------------------------- //

.layout__campaign-color {
  .section__title {
    color: $white;
    &::after {
      color: $black;
    }
  }
  .section__description {
    color: $black;
  }
}

.layout__white {
  .section__title {
    color: $black;
    &::after {
      color: $campaign-color;
    }
  }
  .section__description {
    color: $black;
  }
}

.layout__black {
  .section__title {
    color: $campaign-color;
    &::after {
      color: $white;
    }
  }
  .section__description {
    color: $white;
  }
}
