.section__container {
  padding-bottom: 10rem;
  margin: -5rem auto 0 auto;
  padding-top: 5rem;
  width: 80vw;

  &:first-of-type {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }

  @include respond-above(medium) {
    width: 80%;
  };
  @include respond-above(huge) {
    width: 70%;
  };
  @include respond-above(massive) {
    width: 65%;
  };
}

.section__container--wide {
  width: 100%;
}

.section__title {
  @include text-size($xl);
  // font-size: 13vmin;
  text-transform: uppercase;
  word-break: break-word;
  padding-bottom: 1rem;
  color: $black;

  &::after {
    content: "—";

    display: block;
    margin-top: -0.3em;
  }

}

.section__description {
  @include text-size($m);
  margin-bottom: 2rem;
  color: $black;

  p + p {
    margin-top: 1rem;
  }
}
