.section-title {
  // position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: $black;
  color: $white;

  padding-top: 4vmin;
  padding-bottom: 4vmin;


  @include respond-above(small) {
    margin-top: $space--xxlarge;
    margin-bottom: $space--large;
  };
  @include respond-above(medium) {
    margin-top: $space--xxlarge;
    margin-bottom: $space--xlarge;
  };
  @include respond-above(large) {
    margin-top: $space--xxlarge;
    margin-bottom: $space--xxlarge;
  };
  @include respond-above(huge) {
    margin-top: $space--xxlarge;
    margin-bottom: $space--xxlarge;
  };
}

.section-title__item {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 0.05em;

  @include respond-above(small) {
    font-size: 12vmin;
  };
  @include respond-above(medium) {
    font-size: 12vmin;
  };
  @include respond-above(large) {
    font-size: 12vmin;
  };
  @include respond-above(huge) {
    font-size: 12vmin;
  };
}

.text-block__container {
  display: flex;
  flex-wrap: wrap;
  @include respond-above(small) {
    padding: 0;
  };
  @include respond-above(medium) {
    padding: $space--large 0;
  };
  @include respond-above(large) {
    padding: $space--xxlarge 0;
  };
  @include respond-above(huge) {
    padding: $space--xxxlarge 0;
  };
}

.text-block {
  padding-bottom: $space--large;
  @include respond-above(small) {
    @include span-columns(6 of 6);
  };
  @include respond-above(medium) {
    @include span-columns(4 of 6);
    @include shift(1);
  };
  @include respond-above(large) {
    @include span-columns(5 of 9);
    @include shift(1);
  };
  @include respond-above(huge) {
    @include span-columns(6 of 12);
    @include shift(2);
  };
}

.text-block--large {
  @include respond-above(small) {
    @include span-columns(6 of 6);
  };
  @include respond-above(medium) {
    @include span-columns(4 of 6);
    @include shift(1);
  };
  @include respond-above(large) {
    @include span-columns(7 of 9);
    @include shift(1);
  };
  @include respond-above(huge) {
    @include span-columns(8 of 12);
    @include shift(2);
  };

  display: flex;
  flex-wrap: wrap;
}

.text-block__introduction {
  padding-bottom: $space--medium;
}

.text-block__body {

}

.text-block__body--two-column {
  display: flex;
  flex-wrap: wrap;
}

.text-block__two-column {
  @include respond-above(small) {
    @include span-columns(6 of 6);
  };
  @include respond-above(medium) {
    @include span-columns(4 of 4);
    margin-bottom: 0
  };
  @include respond-above(large) {
    @include span-columns(3 of 7);
    margin-bottom: $space--large;
    &:nth-child(2n) {
      @include shift(1);
    }
  };
  @include respond-above(huge) {
    @include span-columns(4 of 8);
    &:nth-child(2n) {
      @include shift(0);
    }
  };

  &:nth-child(2n) {
    @include omega;
  }
}

.text-block__section-title {
  // padding-top: $space--medium;
  padding-bottom: $space--xxsmall;
  width: 100%;
}

.text-block__title {
  padding-top: $space--medium;
  padding-bottom: $space--xxsmall;
}

.text-block__subtitle {

}

.text-block__information {
  list-style: none;
}

.text-block__information-primary {

}

.text-block__information-secondary {

}

.text-block__description {

}
