/* Sections ----------------------------------------------- */

.transition-section__container {
  padding-bottom: 4rem;

  &:first-of-type {
    padding-top: 6rem;
  }

  @include media($mobile) {
    @include outer-container(80vw);
  };
  @include media($tablet) {
    @include span-columns(6 of 8);
    margin: auto;
  };
  @include media($laptop) {
    @include span-columns(6 of 10);
    margin: auto;
  };
  @include media($desktop) {
    @include span-columns(6 of 14);
    margin: auto;
  };

  &:last-child {
    margin: auto;
  }
}
.transition-section__title {
  @include text-size($large);
  // font-size: 13vmin;
  text-transform: uppercase;
  word-break: break-word;
  letter-spacing: 0.02em;
  margin-bottom: 2rem;
}


/* Intro ----------------------------------------------- */

.transition-intro {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid;

  &:last-child {
    border-bottom: none;
  }

}

.transition-intro__title {
  @include text-size($medium);
  text-align: left;

  h2 {
    margin-bottom: 0.5rem;
    @include media($laptop) {
      margin-bottom: 0.5rem;
    };
  }
}

.transition-intro__description {
  @include text-size($medium);

  p {
    max-width: 40em;
  }

  p + h3 {
    margin-top: 1rem;
  }

  p + p {
    margin-top: 0.5rem;
  }

  p + a {
    margin-top: 0.5rem;
    display: inline-block;
  }

  a {
    @include transition(color 0.1s ease);
  }
}


/* Information ----------------------------------------------- */

.transition-information__main-description-container {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid;

  &:last-child {
    border-bottom: none;
  }
}

.transition-information__main-description {

  p {
    max-width: 40em;
  }

  a {
    @include transition(color 0.1s ease);
  }

  p + p {
    margin-top: 0.5rem;
  }
}

.transition-information__subsection {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid;

  &:last-child {
    border-bottom: none;
  }
}

.transition-information__subsection-title {
  @include text-size($medium);
  text-transform: uppercase;

}

.transition-information__subsection-description {

  p {
    max-width: 40em;
  }

  p + h3 {
    margin-top: 2rem;
  }

  p + p {
    margin-top: 0.5rem;
  }

  a {
    @include transition(color 0.1s ease);
  }

  p + strong {
    margin-top: 1rem;
  }
}


// Theme colors --------------------------------------------- //

.layout__campaign-color {
  .transition-section__title {
    color: $white;
    &::after {
      color: $black;
    }
  }

  .transition-intro__container {
    color: $black;
  }

  .transition-intro__description {
    a {
      border-color: $campaign-color;
      &:hover {
        color: $campaign-color;
      }
    }
  }
  .transition-information__main-description-container {
    border-color: $black;
  }
  .transition-information__main-description {
    color: $white;
    a {
      border-color: $black;
      &:hover {
        color: $black;
      }
    }
  }
  .transition-information__subsection {
    border-color: $black;
  }
  .transition-information__subsection-title {
    color: $black;
  }
  .transition-information__subsection-description {
    color: $white;
    a {
      border-color: $black;
      &:hover {
        color: $black;
      }
    }
  }
}

.layout__white {
  .transition-section__title {
    color: $black;
    &::after {
      color: $campaign-color;
    }
  }

  .transition-intro__container {
    color: $campaign-color;
  }

  .transition-intro__description {
    a {
      border-color: $campaign-color;
      &:hover {
        color: $campaign-color;
      }
    }
  }

  .transition-information__main-description-container {
    border-color: $campaign-color;
  }
  .transition-information__main-description {
    color: $black;
    a {
      border-color: $campaign-color;
      &:hover {
        color: $campaign-color;
      }
    }
  }
  .transition-information__subsection {
    border-color: $campaign-color;
  }
  .transition-information__subsection-title {
    color: $campaign-color;
  }
  .transition-information__subsection-description {
    color: $black;
    a {
      border-color: $campaign-color;
      &:hover {
        color: $campaign-color;
      }
    }
  }
}

.layout__black {
  .transition-section__title {
    color: $campaign-color;
    &::after {
      color: $white;
    }
  }

  .transition-intro__container {
    color: $white;
  }

  .transition-intro__description {
    a {
      border-color: $campaign-color;
      &:hover {
        color: $campaign-color;
      }
    }
  }

  .transition-information__main-description-container {
    border-color: $campaign-color;
  }
  .transition-information__main-description {
    color: $white;
    a {
      border-color: $campaign-color;
      &:hover {
        color: $campaign-color;
      }
    }
  }
  .transition-information__subsection {
    border-color: $campaign-color;
  }
  .transition-information__subsection-title {
    color: $campaign-color;
  }
  .transition-information__subsection-description {
    color: $white;
    a {
      border-color: $campaign-color;
      &:hover {
        color: $campaign-color;
      }
    }
  }
}
