.video-module {
  width: 100%;
  margin-top: 60px;
}

.video-module__container {
  position: relative;
	padding-bottom: calc(100vh - 60px);
	height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-module__title-container {
  // height: 8rem;
  padding: 1rem 2rem;
  background-color: $black;
  color: $white;
}

.video-module__title {
  @include text-size($l);
  text-transform: uppercase;
  color: $white;
}

.video-module__subtitle {
  @include text-size($m);
  color: $white;
}
