{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block body_attributes %}
  class="layout__{{ item.page_color_scheme|lower }}"
{% endblock %}

{% set page_facebook_image = "static/images/social/facebook-" + item.name|lower + ".png" %}
{% set page_twitter_image = "static/images/social/twitter-" + item.name|lower + ".png" %}
{% set page_url = getSetting('site_url') + getCurrentUrl()|replace('^/','','g') %}

{% set livestream = cms.livestream %}

{% block content %}

  {% set general_info = cms.generalinformation %}
  {% set events = cms.events %}
  {% for event in events %}
    {% set event.modal_id = "modal-"+loop.index %}
    {# event_link = '#', lowercase, ' ' replaced with '-', non-alphanumeric characters except for ' ' and '-' replaced with '', multiple consecutive '-' replaced with '-' #}
    {% set event.event_link = event.name|lower|replace(' ','-','g')|replace('[^a-zA-Z0-9 -]','','g')|replace('-+','-','g') %}
  {% endfor %}
  {% set infoSnippets = item.information_snippets %}


  {# Set color scheme #}

  {% if item.page_color_scheme %}
    {% set item.page_background = item.page_color_scheme|replace('.html', '', 'g') %}
  {% else %}
    {% set item.page_background = 'layout__white' %}
  {% endif %}


  <main class="page">

    {# Livestream #}

    {% if livestream.show_livestream === true %}
      <div class="video-module">
        {% if livestream.embed_code %}
          <div class="video-module__container">{{ livestream.embed_code }}</div>
          {% if livestream.title %}
            <div class="video-module__title-container">
              <h2 class="video-module__title">{{ livestream.title }}</h2>
            {% if livestream.subtitle %}
              <h3 class="video-module__subtitle">{{ livestream.subtitle }}</h3>
            {% endif %}
          {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}


    {# Poster Moment #}

    <div class="poster-moment">
      <a class="nav__anchor nav__anchor--home" id=""></a>
      <div class="poster-moment__container">
        <div class="poster-moment__item" id="poster-moment__risd">RISD</div>
        <div class="poster-moment__item--active poster-moment__item--modifiers">
          <div class="poster-moment__item poster-moment__modifier" id="poster-moment__modifier--1">{{ item.name }}</div>
        </div>
        <div class="poster-moment__item" id="poster-moment__week">WEEK—</div>
        <div class="poster-moment__item" id="poster-moment__end">END<span class="poster-moment__item--superscript">&#xB9;&#8311;</span></div>
      </div>
      {% if item.register_button === true %}
        <div class="poster-moment__button">
        <a href="{{ item.register_button_url }}" target="_blank" class="poster-moment__button-link">{{ item.register_button_text }}</a>
        </div>
      {% endif %}
    </div>


    {# Address and Time #}
    <section class="section__container" id="">
      <div class="announcement__container">
        <h2 class="announcement announcement__date">{{ general_info.date }}</h2>
        <h2 class="announcement announcement__location">
        {% if general_info.location.street1 %}{{ general_info.location.street1 }}{% endif %}
        {% if general_info.location.street2 %}<br>{{ general_info.location.street2 }}{% endif %}
        {% if general_info.location.city %}<br>{{ general_info.location.city }}{% endif %}
        {% if general_info.location.state %}, {{ general_info.location.state }}{% endif %}
        {% if general_info.location.zip %} – {{ general_info.location.zip }}{% endif %}
        </h2>
      </div>
    </section>


    {# Grouped Featured events #}
    {% for eventGroup in item.audience_specific_events %}
      {% if loop.first %}
        {# <a class="nav__anchor" id="events"></a> #}
      {% endif %}
        <section class="section__container featured-events__container" id="{{ eventGroup.special_events_section_name|lower|replace(' ','-','g') }}">
          <h1 class="section__title">{{ eventGroup.special_events_section_name }}</h1>
          <div class="section__description">{{ eventGroup.special_events_description|safe }}</div>
          {% for event in eventGroup.events %}
            {% if loop.first %}
              <div class="featured-events">
            {% endif %}
                <div class="featured-events__item" data-modal-source-id="{{ event.event_link }}"><a href="#{{ event.event_link }}" class="featured-events__item-link">{{ event.name }}</a></div>
            {% if loop.last %}
              </div>
            {% endif %}
          {% endfor %}
          </section>
      {% if loop.last %}
      {% endif %}
    {% endfor %}


    {# Event Schedule #}

    <section class="section__container calendar-box__container" id="events">

      <h1 class="section__title">Events</h1>

      <div class="calendar-box">
        <div class="calendar-box__toggle">
          <h4 class="calendar-box__button active" id="calendar-box__button--friday" data-filter="friday">Friday</h4>
          <h4 class="calendar-box__button" id="calendar-box__button--saturday" data-filter="saturday">Saturday</h4>
          <h4 class="calendar-box__button" id="calendar-box__button--sunday" data-filter="sunday">Sunday</h4>
        </div>
        {% for day in events | sort('day') | groupBy('day') %}

          {% if loop.first %}
        <div class="calendar-box__column-container">
          {% endif %}

          {% if loop.index === 1 %}
            <div class="calendar-box__column" id="calendar-box__column--friday">
          {% elseif loop.index === 2 %}
            <div class="calendar-box__column calendar-box__column--hidden" id="calendar-box__column--saturday">
          {% elseif loop.index === 3 %}
            <div class="calendar-box__column calendar-box__column--hidden" id="calendar-box__column--sunday">
          {% endif %}

          {% for event in day %}
            {% set event.start_time_order = event.start_time|date('Hi') %}
          {% endfor %}

          {% for event in day|sort('start_time_order') %}

            <a href="#{{ event.event_link }}" class="calendar-box__item" data-modal-source-id="{{ event.event_link }}">
              <div class="calendar-box__header">
                <h4 class="calendar-box__title">
                {{ event.name }}
                {% if event.subtitle %}
                  <span class="calendar-box__subtitle">{{ event.subtitle }}</span>
                {% endif %}
                </h4>

                {% if event.start_time %}
                  {% include "templates/partials/time-formatting.html" with {
                    item: event,
                    itemClass: 'calendar-box__info'
                  } %}
                {% endif %}

                {% if event.location %}
                  {% spaceless %}
                    <p class="calendar-box__info">{% if event.start_time %}|&#8200;{% endif %}{{ event.location.name }}
                      {% if event.location_details %}
                        ,&#8200;{{ event.location_details }}
                      {% endif %}
                      {% if event.location.address %}
                        ,&#8200;{{ event.location.address }}
                      {% endif %}
                    </p>
                  {% endspaceless %}
                {% endif %}

                {% if event.attendee_limit %}
                  <p class="calendar-box__info">| limit: {{ event.attendee_limit }} attendees</p>
                {% endif %}

              </div>

              {% if event.description %}
                <div class="calendar-box__item-toggle"></div>
              {% endif %}

            </a>
          {% endfor %}
        </div>
          {% if loop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>


    {# Information Sections #}
    {% for information in infoSnippets %}
    <section class="section__container information__container" id="{{ information.name|lower|replace(' ', '-', 'g') }}">
    {% if information.show_in_nav === true %}
      {# <a class="nav__anchor" id="{{ information.name|lower|replace(' ', '-', 'g') }}"></a> #}
    {% endif %}
      <h1 class="section__title">{{ information.name }}</h1>
      <article class="information__section">
      {% if information.main_description %}
        <div class="information__main-description-container">
          <div class="information__main-description">{{ information.main_description|safe }}</div>
        </div>
      {% endif %}
        {% if information.subsections %}
          {% for subsection in information.subsections %}
            <div class="information__subsection">
            {% if subsection.title %}
              <h2 class="information__subsection-title">{{ subsection.title }}</h2>
            {% else %}
              <h2 class="information__subsection-title">&#160;</h2>
            {% endif %}
              <div class="information__subsection-description">{{ subsection.description|safe }}</div>
            </div>
          {% endfor %}
        {% endif %}
      </article>
      {% if information.button_text %}
        <div class="information__button">
          <a href="{{ information.button_link }}" target="_blank" class="information__button-link">{{ information.button_text }}</a>
        </div>
      {% endif %}
    </section>
    {% endfor %}


    {# Footer Buttons #}
    {% for buttons in item.footer_buttons %}
      {% if loop.first %}
        <section class="section__container--wide footer-buttons__container">
      {% endif %}
          <div class="footer-buttons"><a href="{{ buttons.button_link }}" class="footer-buttons__link" target="_blank">{{ buttons.button_text }}</a></div>
      {% if loop.last %}
        </section>
      {% endif %}
    {% endfor %}


  </main>

{% endblock %}

{% block modal_content %}
  <aside class="modal__container">
    <div class="modal">
    {% for event in events %}
      <div class="modal__item" id="{{ event.event_link }}" data-modal-target-id="{{ event.event_link }}">
        <div class="modal__item-toggle">&times;</div>
        <div class="modal__header">
          <h4 class="modal__title">
          {{ event.name }}
          {% if event.subtitle %}
            <span class="modal__subtitle">{{ event.subtitle }}</span>
          {% endif %}
          </h4>

          {% if event.start_time %}
            {% include "templates/partials/time-formatting.html" with {
              item: event,
              itemClass: 'modal__info'
            } %}
          {% endif %}

          {% if event.location %}
            {% spaceless %}
              <p class="modal__info">
                <a href="{{ event.location.google_map_link }}" target="_blank">{{ event.location.name }}
                  {% if event.location_details %}
                    ,&#8200;{{ event.location_details }}
                  {% endif %}
                  {% if event.location.address %}
                    ,&#8200;{{ event.location.address }}
                  {% endif %}
                </a>
              </p>
            {% endspaceless %}
          {% endif %}

          {% if event.attendee_limit %}
            <p class="modal__info">limit: {{ event.attendee_limit }} attendees</p>
          {% endif %}

        </div>

        {% if event.description %}
          <div class="modal__description">{{ event.description|safe }}</div>
        {% endif %}

        {% if event.sub_events %}
          {% for subevent in event.sub_events %}
            <div class="modal__subevent">
              <h4 class="modal__subevent-title">
                {{ subevent.title }}
              {% if subevent.subtitle %}
                <span class="modal__subevent-subtitle">{{ subevent.subtitle }}</span>
              {% endif %}
              </h4>

              {% if event.start_time %}
                {% include "templates/partials/time-formatting.html" with {
                  item: event,
                  itemClass: 'modal__subevent-info'
                } %}
              {% endif %}


              {% if subevent.location %}
                {% spaceless %}
                  <p class="modal__subevent-info">{{ subevent.location.name }}
                    {% if subevent.location_details %}
                      {% if event.start_time %},&#8200;{% endif %}{{ subevent.location_details }}
                    {% endif %}
                    {% if subevent.location.address %}
                      {% if event.start_time %},&#8200;{% endif %}{{ subevent.location.address }}
                    {% endif %}
                  </p>
                {% endspaceless %}
              {% endif %}

              {% if subevent.attendee_limit %}
                <p class="modal__subevent-info">limit: {{ subevent.attendee_limit }} attendees</p>
              {% endif %}

              {% if subevent.description %}
                <div class="modal__subevent-description">{{ subevent.description|safe }}</div>
              {% endif %}

            </div>
          {% endfor %}
        {% endif %}

      </div>
    {% endfor %}
    </div>
  </aside>

  <script type="application/json" id="modifiers">
    {{ item.wordmark_modifiers|json|safe }}
  </script>
{% endblock %}
