{% extends "templates/partials/base.html" %}

{% block page_stylesheet %}
  <link rel="stylesheet" href="/static/css/print.css">
{% endblock %}

{% block header %}
  {% include "templates/partials/header-alternate.html" %}
{% endblock %}

{% block title %}{% parent %}
  - Test{% endblock %}

{% block body_attributes %}
  class="layout__white"
{% endblock %}

{% block content %}

  {% set events = cms.events %}
  {% for event in events %}
    {% set event.modal_id = "modal-"+loop.index %}
    {# event_link = '#', lowercase, ' ' replaced with '-', non-alphanumeric characters except for ' ' and '-' replaced with '', multiple consecutive '-' replaced with '-' #}
    {% set event.event_link = event.name|lower|replace(' ','-','g')|replace('[^a-zA-Z0-9 -]','','g')|replace('-+','-','g') %}
  {% endfor %}

  <main class="page">

    {# Event Schedule #}

    <div class="transition-section__container calendar-box__container">

      <h1 class="section__title">Events</h1>
      <div class="calendar-box__wordmark-container">
        {% include "templates/partials/wordmark.html" %}
      </div>

      <div class="calendar-box">
        {% for day in events | sort('day') | groupBy('day') %}
          {% if loop.first %}
            <div class="calendar-box__column-container">
            {% endif %}

            {% if loop.index === 1 %}
              <div class="calendar-box__column--print" id="calendar-box__column--friday">
                <h2 class="calendar-box__section-title">Friday</h2>
              {% elseif loop.index === 2 %}
                <div class="calendar-box__column--print" id="calendar-box__column--saturday">
                  <h2 class="calendar-box__section-title">Saturday</h2>
                {% elseif loop.index === 3 %}
                  <div class="calendar-box__column--print" id="calendar-box__column--sunday">
                    <h2 class="calendar-box__section-title">Sunday</h2>
                  {% endif %}

                  {% for event in day %}
                    {% set event.start_time_order = event.start_time | date('H') %}
                  {% endfor %}

                  {% for event in day | sort('start_time_order') %}

                    {% if loop.first %}
                      <div class="calendar-box__item-container">
                      {% endif %}

                      <div class="calendar-box__item" data-modal-source-id="{{ event.event_link }}">
                        <div class="calendar-box__header">
                          <h4 class="calendar-box__title">
                            {{ event.name }}
                            {% if event.subtitle %}
                              <span class="calendar-box__subtitle">{{ event.subtitle }}</span>
                            {% endif %}
                          </h4>

                          {% if event.start_time %}
                            {% include "templates/partials/time-formatting.html" with {
                              item: event,
                              itemClass: 'calendar-box__info'
                            } %}
                          {% endif %}

                          {% if event.location %}
                            {% spaceless %}
                              <p class="calendar-box__info">|&#8200;{{ event.location.name }}
                                {% if event.location_details %}
                                  ,&#8200;{{ event.location_details }}
                                {% endif %}
                                {% if event.location.address %}
                                  ,&#8200;{{ event.location.address }}
                                {% endif %}
                              </p>
                            {% endspaceless %}
                          {% endif %}

                        </div>

                        {% if event.description %}
                          <div class="calendar-box__item-toggle"></div>
                        {% endif %}
                        {% if event.sub_events %}
                          {% spaceless %}
                            {% for subevent in event.sub_events %}
                              <p class="calendar-box__info">
                                <strong>{{ subevent.name }}</strong>
                                {% for location in subevent.locations %}
                                  {% spaceless %}
                                    &#8200;|&#8200;{{ location.location.name }}
                                    {% if location.location_details %}
                                      ,&#8200;{{ location.location_details }}
                                    {% endif %}
                                    {% if location.location.address %}
                                      ,&#8200;{{ location.location.address }}
                                    {% endif %}
                                  {% endspaceless %}
                                {% endfor %}
                              </p>
                            {% endfor %}
                          {% endspaceless %}
                        {% endif %}

                      </div>

                    </div>

                    {% if loop.first %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
          </div>

        </div>

      </main>
    {% endblock %}

    {% block modal_content %}
      {% set allEvents = [] %}
      {% for event in events %}
        {% set allEvents = allEvents.concat([event]) %}
      {% endfor %}
      {% for event in sub_events %}
        {% set allEvents = allEvents.concat([event]) %}
      {% endfor %}
      <aside class="modal__container">
        <div class="modal__background"></div>
        <div class="modal__item-toggle">&times;</div>
        <div class="modal">
          {% for event in allEvents %}
            <div class="modal__item" id="{{ event.event_link }}" data-modal-target-id="{{ event.event_link }}">
              <div class="modal__header">
                <h4 class="modal__title">
                  {{ event.name }}
                  {% if event.subtitle %}
                    <span class="modal__subtitle">{{ event.subtitle }}</span>
                  {% endif %}
                </h4>
                <p class="modal__info">{{ event.day }}</p>
                {% if event.start_time %}
                  {% include "templates/partials/time-formatting.html" with {
              item: event,
              itemClass: 'modal__info'
            } %}
                {% endif %}

                {% if event.location %}
                  {% spaceless %}
                    <p class="modal__info">
                      {% if event.location.google_map_link %}
                        <a href="{{ event.location.google_map_link }}" target="_blank">{{ event.location.name }}
                          {% if event.location_details %}
                            ,&#8200;{{ event.location_details }}
                          {% endif %}
                          {% if event.location.address %}
                            ,&#8200;{{ event.location.address }}
                          {% endif %}
                        </a>
                      {% else %}
                        {{ event.location.name }}
                        {% if event.location_details %}
                          ,&#8200;{{ event.location_details }}
                        {% endif %}
                        {% if event.location.address %}
                          ,&#8200;{{ event.location.address }}
                        {% endif %}
                      {% endif %}

                    </p>
                  {% endspaceless %}
                {% endif %}

                {% if event.attendee_limit %}
                  <p class="modal__info">{{ event.attendee_limit }}</p>
                {% endif %}

              </div>

              {% if event.description %}
                <div class="modal__description">{{ event.description|safe }}</div>
              {% endif %}

              {% if event.sub_events %}
                <div class="modal__subevent-container">
                  {% for subevent in event.sub_events %}
                    <div class="modal__subevent">
                      <h4 class="modal__subevent-title">
                        {{ subevent.name }}
                        {% if subevent.subtitle %}
                          <span class="modal__subevent-subtitle">{{ subevent.subtitle }}</span>
                        {% endif %}
                      </h4>

                      {% if subevent.start_time %}
                        {% include "templates/partials/time-formatting.html" with {
                  item: subevent,
                  itemClass: 'modal__subevent-info'
                } %}
                      {% endif %}

                      {% if subevent.location %}
                        {% spaceless %}
                          <p class="modal__subevent-info">{{ subevent.location.name }}
                            {% if subevent.location_details %}
                              ,&#8200;{{ subevent.location_details }}
                            {% endif %}
                            {% if subevent.location.address %}
                              ,&#8200;{{ subevent.location.address }}
                            {% endif %}
                          </p>
                        {% endspaceless %}
                      {% endif %}

                      {% if subevent.attendee_limit %}
                        <p class="modal__subevent-info">{{ subevent.attendee_limit }}</p>
                      {% endif %}

                      {% if subevent.description %}
                        <div class="modal__subevent-description">{{ subevent.description|safe }}</div>
                      {% endif %}

                    </div>
                  {% endfor %}
                </div>
              {% endif %}

            </div>
          {% endfor %}
        </div>
      </aside>

    {% endblock %}

    {% block scripts_extra %}
      <script type="text/javascript">
        window.print();
      </script>
    {% endblock %}
