{# ------------------------------------------------------- #}
{# ONE OFF VIEW contact #}
{# This page can use any data from http:localhost:2000/cms/#/form/contact/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base-without-header.html" %}
{# This sets our page <title>. It will append this contact's name to the site title defined in base.html #}
{% block title %}{% parent %} - Test{% endblock %}

{% block body_attributes %}
  class="layout__black"
{% endblock %}

{% block content %}

  {% set events = cms.events2016 %}
  {% for event in events %}
    {% set event.modal_id = "modal-"+loop.index %}
    {# event_link = '#', lowercase, ' ' replaced with '-', non-alphanumeric characters except for ' ' and '-' replaced with '', multiple consecutive '-' replaced with '-' #}
    {% set event.event_link = event.name|lower|replace(' ','-','g')|replace('[^a-zA-Z0-9 -]','','g')|replace('-+','-','g') %}
  {% endfor %}

  <main class="page">

    {# Event Schedule #}

    <section class="section__container calendar-box__container">

      <h1 class="section__title">Events</h1>

      <div class="calendar-box">
        {% for day in events | sort('day') | groupBy('day') %}
          {% if loop.first %}
        <div class="calendar-box__column-container">
          {% endif %}

          {% if loop.index === 1 %}
            <div class="calendar-box__column" id="calendar-box__column--friday">
              <h2 class="calendar-box__section-title">Friday</h2>
          {% elseif loop.index === 2 %}
            <div class="calendar-box__column" id="calendar-box__column--saturday">
              <h2 class="calendar-box__section-title">Saturday</h2>
          {% elseif loop.index === 3 %}
            <div class="calendar-box__column" id="calendar-box__column--sunday">
              <h2 class="calendar-box__section-title">Sunday</h2>
          {% endif %}

          {% for event in day %}
            {% set event.start_time_order = event.start_time|date('H') %}
          {% endfor %}

          {% for event in day|sort('start_time_order') %}

            <div class="calendar-box__item" data-modal-source-id="{{ event.event_link }}">
              <div class="calendar-box__header">
                <h4 class="calendar-box__title">
                {{ event.name }}
                {% if event.subtitle %}
                  <span class="calendar-box__subtitle">{{ event.subtitle }}</span>
                {% endif %}
                </h4>

                {# Display time according to editorial style guide #}
                {# if a start time exists #}
                {% if event.start_time %}

                  {# if the start time is in the morning #}
                  {% if event.start_time|date('a') === "am" %}
                    {# set morning start to true #}
                    {% set morning_start = true %}
                  {# else if the start time is in the evening #}
                  {% elseif event.start_time|date('a') === "pm" %}
                    {# set morning start to false #}
                    {% set morning_start = false %}
                  {% else %}
                    {# set morning start to undefined #}
                    {% set morning_start = undefined %}
                  {% endif %}

                  {# and if end time exists #}
                  {% if event.end_time %}
                    {# if the end time is in the morning #}
                    {% if event.end_time|date('a') === "am" %}
                      {# set morning end to true #}
                      {% set morning_end = true %}
                    {# else if the end time is in the evening #}
                    {% elseif event.end_time|date('a') === "pm" %}
                      {# set morning end to false #}
                      {% set morning_end = false %}
                    {% else %}
                      {# set morning end to undefined #}
                      {% set morning_end = undefined %}
                    {% endif %}
                  {% else %}
                    {# set morning end to undefined #}
                    {% set morning_end = undefined %}
                  {% endif %}

                  {# if there is only a start time #}
                  {% if morning_end === undefined %}
                    {# if the minutes is 00 #}
                    {% if event.start_time|date('i') === '00' %}
                      {# show only the hh am/pm #}
                      <time class="calendar-box__info">{{ event.start_time|date('g a') }}</time>
                    {% else %}
                      {# show hh:mm am/pm #}
                      <time class="calendar-box__info">{{ event.start_time|date('g:i a') }}</time>
                    {% endif %}

                  {# if there start time and end time are in the morning #}
                  {% elseif morning_start === true && morning_end === true %}
                    {# for the start time, if the minutes is 00 #}
                    {% if event.start_time|date('i') === '00' %}
                      {# show only the hh #}
                      <time class="calendar-box__info">{{ event.start_time|date('g') }}
                    {% else %}
                      {# show hh:mm #}
                      <time class="calendar-box__info">{{ event.start_time|date('g:i') }}
                    {% endif %}
                    {% if event.end_time %}
                      {# for the end time, if the minutes is 00 #}
                      {% if event.end_time|date('i') === '00' %}
                        {# show only the - hh am #}
                        &#8211; {{ event.end_time|date('g a') }}</time>
                      {% else %}
                        {# show - hh:mm am #}
                        &#8211; {{ event.end_time|date('g:i a') }}</time>
                      {% endif %}
                    {% endif %}

                  {# if there start time and end time are in the evening #}
                  {% elseif morning_start === false && morning_end === false %}
                    {# for the start time, if the minutes is 00 #}
                    {% if event.start_time|date('i') === '00' %}
                      {# show only the hh #}
                      <time class="calendar-box__info">{{ event.start_time|date('g') }}
                    {% else %}
                      {# show hh:mm #}
                      <time class="calendar-box__info">{{ event.start_time|date('g:i') }}
                    {% endif %}
                    {% if event.end_time %}
                      {# for the end time, if the minutes is 00 #}
                      {% if event.end_time|date('i') === '00' %}
                        {# show only the - hh pm #}
                        &#8211; {{ event.end_time|date('g a') }}</time>
                      {% else %}
                        {# show - hh:mm pm #}
                        &#8211; {{ event.end_time|date('g:i a') }}</time>
                      {% endif %}
                    {% endif %}

                  {# if there start time is in the morning and end time in the evening #}
                  {% elseif morning_start === true && morning_end === false %}
                    {# for the start time, if the minutes is 00 #}
                    {% if event.start_time|date('i') === '00' %}
                      {# show only the hh am #}
                      <time class="calendar-box__info">{{ event.start_time|date('g a') }}
                    {% else %}
                      {# show hh:mm am #}
                      <time class="calendar-box__info">{{ event.start_time|date('g:i a') }}
                    {% endif %}
                    {% if event.end_time %}
                      {# for the end time, if the minutes is 00 #}
                      {% if event.end_time|date('i') === '00' %}
                        {# show only the - hh pm #}
                        &#8211; {{ event.end_time|date('g a') }}</time>
                      {% else %}
                        {# show - hh:mm pm #}
                        &#8211; {{ event.end_time|date('g:i a') }}</time>
                      {% endif %}
                    {% endif %}
                  {% endif %}

                {% endif %}


                {% if event.location %}
                  {% spaceless %}
                    <p class="calendar-box__info">|&#8200;{{ event.location.name }}
                      {% if event.location_details %}
                        ,&#8200;{{ event.location_details }}
                      {% endif %}
                      {% if event.location.address %}
                        ,&#8200;{{ event.location.address }}
                      {% endif %}
                    </p>
                  {% endspaceless %}
                {% endif %}

                {% if event.attendee_limit %}
                  <p class="calendar-box__info">| limit: {{ event.attendee_limit }} attendees</p>
                {% endif %}

              </div>

              {% if event.description %}
                <div class="calendar-box__item-toggle"></div>
              {% endif %}

            </div>
          {% endfor %}
        </div>
          {% if loop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>

  </main>
{% endblock %}

{% block modal_content %}
  <aside class="modal__container">
    <div class="modal">
    {% for event in events %}
      <div class="modal__item" id="{{ event.event_link }}" data-modal-target-id="{{ event.event_link }}">
        <div class="modal__item-toggle">&times;</div>
        <div class="modal__header">
          <h4 class="modal__title">
          {{ event.name }}
          {% if event.subtitle %}
            <span class="modal__subtitle">{{ event.subtitle }}</span>
          {% endif %}
          </h4>

          {# Display time according to editorial style guide #}
          {# if a start time exists #}
          {% if event.start_time %}

            <time class="modal__info">{{ event.start_time|date('l, F j') }}</time><br>

            {# if the start time is in the morning #}
            {% if event.start_time|date('a') === "am" %}
              {# set morning start to true #}
              {% set morning_start = true %}
            {# else if the start time is in the evening #}
            {% elseif event.start_time|date('a') === "pm" %}
              {# set morning start to false #}
              {% set morning_start = false %}
            {% else %}
              {# set morning start to undefined #}
              {% set morning_start = undefined %}
            {% endif %}

            {# and if end time exists #}
            {% if event.end_time %}
              {# if the end time is in the morning #}
              {% if event.end_time|date('a') === "am" %}
                {# set morning end to true #}
                {% set morning_end = true %}
              {# else if the end time is in the evening #}
              {% elseif event.end_time|date('a') === "pm" %}
                {# set morning end to false #}
                {% set morning_end = false %}
              {% else %}
                {# set morning end to undefined #}
                {% set morning_end = undefined %}
              {% endif %}
            {% else %}
              {# set morning end to undefined #}
              {% set morning_end = undefined %}
            {% endif %}

            {# if there is only a start time #}
            {% if morning_end === undefined %}
              {# if the minutes is 00 #}
              {% if event.start_time|date('i') === '00' %}
                {# show only the hh am/pm #}
                <time class="modal__info">{{ event.start_time|date('g a') }}</time>
              {% else %}
                {# show hh:mm am/pm #}
                <time class="modal__info">{{ event.start_time|date('g:i a') }}</time>
              {% endif %}

            {# if there start time and end time are in the morning #}
            {% elseif morning_start === true && morning_end === true %}
              {# for the start time, if the minutes is 00 #}
              {% if event.start_time|date('i') === '00' %}
                {# show only the hh #}
                <time class="modal__info">{{ event.start_time|date('g') }}
              {% else %}
                {# show hh:mm #}
                <time class="modal__info">{{ event.start_time|date('g:i') }}
              {% endif %}
              {% if event.end_time %}
                {# for the end time, if the minutes is 00 #}
                {% if event.end_time|date('i') === '00' %}
                  {# show only the - hh am #}
                  &#8211; {{ event.end_time|date('g a') }}</time>
                {% else %}
                  {# show - hh:mm am #}
                  &#8211; {{ event.end_time|date('g:i a') }}</time>
                {% endif %}
              {% endif %}

            {# if there start time and end time are in the evening #}
            {% elseif morning_start === false && morning_end === false %}
              {# for the start time, if the minutes is 00 #}
              {% if event.start_time|date('i') === '00' %}
                {# show only the hh #}
                <time class="modal__info">{{ event.start_time|date('g') }}
              {% else %}
                {# show hh:mm #}
                <time class="modal__info">{{ event.start_time|date('g:i') }}
              {% endif %}
              {% if event.end_time %}
                {# for the end time, if the minutes is 00 #}
                {% if event.end_time|date('i') === '00' %}
                  {# show only the - hh pm #}
                  &#8211; {{ event.end_time|date('g a') }}</time>
                {% else %}
                  {# show - hh:mm pm #}
                  &#8211; {{ event.end_time|date('g:i a') }}</time>
                {% endif %}
              {% endif %}

            {# if there start time is in the morning and end time in the evening #}
            {% elseif morning_start === true && morning_end === false %}
              {# for the start time, if the minutes is 00 #}
              {% if event.start_time|date('i') === '00' %}
                {# show only the hh am #}
                <time class="modal__info">{{ event.start_time|date('g a') }}
              {% else %}
                {# show hh:mm am #}
                <time class="modal__info">{{ event.start_time|date('g:i a') }}
              {% endif %}
              {% if event.end_time %}
                {# for the end time, if the minutes is 00 #}
                {% if event.end_time|date('i') === '00' %}
                  {# show only the - hh pm #}
                  &#8211; {{ event.end_time|date('g a') }}</time>
                {% else %}
                  {# show - hh:mm pm #}
                  &#8211; {{ event.end_time|date('g:i a') }}</time>
                {% endif %}
              {% endif %}
            {% endif %}

          {% endif %}


          {% if event.location %}
            {% spaceless %}
              <p class="modal__info">
                <a href="{{ event.location.google_map_link }}" target="_blank">{{ event.location.name }}
                  {% if event.location_details %}
                    ,&#8200;{{ event.location_details }}
                  {% endif %}
                  {% if event.location.address %}
                    ,&#8200;{{ event.location.address }}
                  {% endif %}
                </a>
              </p>
            {% endspaceless %}
          {% endif %}

          {% if event.attendee_limit %}
            <p class="modal__info">limit: {{ event.attendee_limit }} attendees</p>
          {% endif %}

        </div>

        {% if event.description %}
          <div class="modal__description">{{ event.description|safe }}</div>
        {% endif %}

        {% if event.sub_events %}
          {% for subevent in event.sub_events %}
            <div class="modal__subevent">
              <h4 class="modal__subevent-title">
              {{ subevent.name }}
              {% if subevent.subtitle %}
                <span class="modal__subevent-subtitle">{{ subevent.subtitle }}</span>
              {% endif %}
              </h4>

              {# Display time according to editorial style guide #}
              {# if a start time exists #}
              {% if subevent.start_time %}

                {# if the start time is in the morning #}
                {% if subevent.start_time|date('a') === "am" %}
                  {# set morning start to true #}
                  {% set morning_start = true %}
                {# else if the start time is in the evening #}
                {% elseif subevent.start_time|date('a') === "pm" %}
                  {# set morning start to false #}
                  {% set morning_start = false %}
                {% else %}
                  {# set morning start to undefined #}
                  {% set morning_start = undefined %}
                {% endif %}

                {# and if end time exists #}
                {% if subevent.end_time %}
                  {# if the end time is in the morning #}
                  {% if subevent.end_time|date('a') === "am" %}
                    {# set morning end to true #}
                    {% set morning_end = true %}
                  {# else if the end time is in the evening #}
                  {% elseif subevent.end_time|date('a') === "pm" %}
                    {# set morning end to false #}
                    {% set morning_end = false %}
                  {% else %}
                    {# set morning end to undefined #}
                    {% set morning_end = undefined %}
                  {% endif %}
                {% else %}
                  {# set morning end to undefined #}
                  {% set morning_end = undefined %}
                {% endif %}

                {# if there is only a start time #}
                {% if morning_end === undefined %}
                  {# if the minutes is 00 #}
                  {% if subevent.start_time|date('i') === '00' %}
                    {# show only the hh am/pm #}
                    <time class="modal__subevent-info">{{ subevent.start_time|date('g a') }}</time>
                  {% else %}
                    {# show hh:mm am/pm #}
                    <time class="modal__subevent-info">{{ subevent.start_time|date('g:i a') }}</time>
                  {% endif %}

                {# if there start time and end time are in the morning #}
                {% elseif morning_start === true && morning_end === true %}
                  {# for the start time, if the minutes is 00 #}
                  {% if subevent.start_time|date('i') === '00' %}
                    {# show only the hh #}
                    <time class="modal__subevent-info">{{ subevent.start_time|date('g') }}
                  {% else %}
                    {# show hh:mm #}
                    <time class="modal__subevent-info">{{ subevent.start_time|date('g:i') }}
                  {% endif %}
                  {% if subevent.end_time %}
                    {# for the end time, if the minutes is 00 #}
                    {% if subevent.end_time|date('i') === '00' %}
                      {# show only the - hh am #}
                      &#8211; {{ subevent.end_time|date('g a') }}</time>
                    {% else %}
                      {# show - hh:mm am #}
                      &#8211; {{ subevent.end_time|date('g:i a') }}</time>
                    {% endif %}
                  {% endif %}

                {# if there start time and end time are in the evening #}
                {% elseif morning_start === false && morning_end === false %}
                  {# for the start time, if the minutes is 00 #}
                  {% if subevent.start_time|date('i') === '00' %}
                    {# show only the hh #}
                    <time class="modal__subevent-info">{{ subevent.start_time|date('g') }}
                  {% else %}
                    {# show hh:mm #}
                    <time class="modal__subevent-info">{{ subevent.start_time|date('g:i') }}
                  {% endif %}
                  {% if subevent.end_time %}
                    {# for the end time, if the minutes is 00 #}
                    {% if subevent.end_time|date('i') === '00' %}
                      {# show only the - hh pm #}
                      &#8211; {{ subevent.end_time|date('g a') }}</time>
                    {% else %}
                      {# show - hh:mm pm #}
                      &#8211; {{ subevent.end_time|date('g:i a') }}</time>
                    {% endif %}
                  {% endif %}

                {# if there start time is in the morning and end time in the evening #}
                {% elseif morning_start === true && morning_end === false %}
                  {# for the start time, if the minutes is 00 #}
                  {% if subevent.start_time|date('i') === '00' %}
                    {# show only the hh am #}
                    <time class="modal__subevent-info">{{ subevent.start_time|date('g a') }}
                  {% else %}
                    {# show hh:mm am #}
                    <time class="modal__subevent-info">{{ subevent.start_time|date('g:i a') }}
                  {% endif %}
                  {% if subevent.end_time %}
                    {# for the end time, if the minutes is 00 #}
                    {% if subevent.end_time|date('i') === '00' %}
                      {# show only the - hh pm #}
                      &#8211; {{ subevent.end_time|date('g a') }}</time>
                    {% else %}
                      {# show - hh:mm pm #}
                      &#8211; {{ subevent.end_time|date('g:i a') }}</time>
                    {% endif %}
                  {% endif %}
                {% endif %}

              {% endif %}


              {% if subevent.location %}
                {% spaceless %}
                  <p class="modal__subevent-info">{{ subevent.location.name }}
                    {% if subevent.location_details %}
                      ,&#8200;{{ subevent.location_details }}
                    {% endif %}
                    {% if subevent.location.address %}
                      ,&#8200;{{ subevent.location.address }}
                    {% endif %}
                  </p>
                {% endspaceless %}
              {% endif %}

              {% if subevent.attendee_limit %}
                <p class="modal__subevent-info">limit: {{ subevent.attendee_limit }} attendees</p>
              {% endif %}

              {% if subevent.description %}
                <div class="modal__subevent-description">{{ subevent.description|safe }}</div>
              {% endif %}

            </div>
          {% endfor %}
        {% endif %}

      </div>
    {% endfor %}
    </div>
  </aside>
{% endblock %}
