{% extends "templates/partials/base.html" %}

{% set siteTitle = cms.generalinformation.name %}
{% set siteShortYear = siteTitle|replace("RISD Weekend 20", "") %}
{% set audiences = cms.audiences %}
{% set transition = cms.transitionpage %}
{% set infoSnippets = transition.information_sections %}

{% block header %}
  {% if transition.transition_page_active === true %}
    {% include "templates/partials/header-alternate.html" %}
  {% endif %}
{% endblock %}

{% block title %}{% parent %}{% endblock %}

{% block body_attributes %}
  class="layout__transition"
{% endblock %}

{% block content %}

  <main class="home">

    {% if transition.transition_page_active === true %}
      {% include "templates/partials/transition-content.html" %}
    {% else %}

    <div class="home__options">
      <a href="/reunion" class="home__option home__option--left">
        <div class="option__item" id="option__risd">RISD</div>
        <div class="option__item option__item--modified">REUNION</div>
        <div class="option__item" id="option__week">WEEK—</div>
        <div class="option__item" id="option__end">END<span class="option__item--superscript">{{ siteShortYear }}</span></div>
      </a>
      <a href="/families" class="home__option home__option--right">
        <div class="option__item" id="option__risd">RISD</div>
        <div class="option__item option__item--modified">FAMILIES</div>
        <div class="option__item" id="option__week">WEEK—</div>
        <div class="option__item" id="option__end">END<span class="option__item--superscript">{{ siteShortYear }}</span></div>
      </a>
    </div>

    {% endif %}

  </main>

{% endblock %}


{% block base_script %}
  {% if transition.transition_page_active === false %}
    <script src="/static/javascript/transition.js"></script>
  {% else %}
    <script src="/static/javascript/home.js"></script>
  {% endif %}
{% endblock %}
