{% extends "templates/partials/base.html" %}

{% set siteTitle = cms.generalinformation.name %}
{% set siteShortYear = siteTitle|replace("RISD Weekend 20", "") %}
{% set page_facebook_image = "static/images/social/facebook-" + item.name|lower + ".png" %}
{% set page_twitter_image = "static/images/social/twitter-" + item.name|lower + ".png" %}
{% set page_url = getSetting('site_url') + getCurrentUrl()|replace('^/','','g') %}
{% set transition = cms.transitionpage %}
{% set home = cms.covidannouncement %}
{% set infoSnippets %}
{% set livestream = cms.livestream %}
{% set events = cms.events %}
{% set sub_events = cms.subevents %}

{% block header %}
  {# {% include "templates/partials/header-covid-update.html" %} #}
{% endblock %}

{% block title %}{% parent %}{% endblock %}

{% block body_attributes %}
  class="layout__campaign-color"
{% endblock %}

{% block content %}

  {% for event in events %}
    {% set event.modal_id = "modal-"+loop.index %}
    {% set event.event_link = event.name|lower|replace(' ','-','g')|replace('[^a-zA-Z0-9 -]','','g')|replace('-+','-','g') %}
  {% endfor %}
  {% for event in sub_events %}
    {% set event.modal_id = "modal-"+loop.index %}
    {% set event.event_link = event.name|lower|replace(' ','-','g')|replace('[^a-zA-Z0-9 -]','','g')|replace('-+','-','g') %}
    {% set event.day = event.events_sub_events.day %}
  {% endfor %}

  <main class="page">

    {# Poster Moment #}

    {% set siteTitle = home.name %}
    {% set siteShortYear = siteTitle|replace("RISD Weekend 20", "") %}

    <div class="poster-moment">
      <a class="nav__anchor nav__anchor--home" id=""></a>
      <div class="poster-moment__container {{ poster_moment_container_class }}" data-gallery-spec='{{ gallery_spec|json }}'>
        <div class="poster-moment__item {{ poster_moment_item_class }}" id="poster-moment__risd">RISD</div>
        <div class="poster-moment__item {{ poster_moment_item_class }}" id="poster-moment__week">WEEKEND<span class="poster-moment__item--superscript">{{ siteShortYear }}</span></div>
      </div>
    </div>

      <section class="section__container information__container" id="{{ information.name|lower|replace(' ', '-', 'g') }}">
        <h1 class="section__title">{{ home.update_title }}</h1>
        <article class="information__section">
          <div class="information__main-description-container">
            <div class="information__main-description">{{ home.update_text|safe }}</div>
          </div>
        </article>
      </section>

  </main>

{% endblock %}
