{% extends "templates/partials/base.html" %}

{% set siteTitle = cms.generalinformation.name %}
{% set siteShortYear = siteTitle|replace("RISD Weekend 20", "") %}
{% set page_facebook_image = "static/images/social/facebook-" + item.name|lower + ".png" %}
{% set page_twitter_image = "static/images/social/twitter-" + item.name|lower + ".png" %}
{% set page_url = getSetting('site_url') + getCurrentUrl()|replace('^/','','g') %}
{% set transition = cms.transitionpage %}
{% set home = cms.home %}
{% set infoSnippets %}
{% set livestream = cms.livestream %}
{% set events = cms.events %}
{% set sub_events = cms.subevents %}

{% block header %}
  {% if transition.transition_page_active === true %}
    {% include "templates/partials/header-alternate.html" %}
  {% else %}
    {% include "templates/partials/header.html" %}
  {% endif %}
{% endblock %}

{% block title %}{% parent %}{% endblock %}

{% block body_attributes %}
  class="layout__campaign-color"
{% endblock %}

{% block content %}

  {% for event in events %}
    {% set event.modal_id = "modal-"+loop.index %}
    {% set event.event_link = event.name|lower|replace(' ','-','g')|replace('[^a-zA-Z0-9 -]','','g')|replace('-+','-','g') %}
  {% endfor %}
  {% for event in sub_events %}
    {% set event.modal_id = "modal-"+loop.index %}
    {% set event.event_link = event.name|lower|replace(' ','-','g')|replace('[^a-zA-Z0-9 -]','','g')|replace('-+','-','g') %}
    {% set event.day = event.events_sub_events.day %}
  {% endfor %}

  <main class="page">

    {# Livestream #}

    {% if livestream.show_livestream === true %}
      <div class="video-module">
        {% if livestream.embed_code %}
          <div class="video-module__container">{{ livestream.embed_code|safe }}</div>
          {% if livestream.title %}
            <div class="video-module__title-container">
              <h2 class="video-module__title">{{ livestream.title }}</h2>
            {% if livestream.subtitle %}
              <h3 class="video-module__subtitle">{{ livestream.subtitle }}</h3>
            {% endif %}
          {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}


    {# Poster Moment #}

    {% set siteTitle = home.name %}
    {% set siteShortYear = siteTitle|replace("RISD Weekend 20", "") %}

    {# Poster Moment Gallery Specification --- Start #}

    {% set gallery_spec = [] %}
    {% for row in home.hero_images %}
      {% set background_class_name = 'poster-moment__background--' + loop.index0 %}
      {% if row.text_color === false %}
        {% set color_class = 'poster-moment__item--black' %}
        {% set color_class_value = 'color: black;' %}
      {% else %}
        {% set color_class = 'poster-moment__item--white' %}
        {% set color_class_value = 'color: white;' %}
      {% endif %}

      {% set gallery_spec = gallery_spec.concat([{
          background_image: {
            querySelector: '.poster-moment__container',
            class: background_class_name,
            image: row.image,
          },
          color: {
            querySelector: '.poster-moment__item',
            class: color_class,
            classValue: color_class_value,
          },
        }]) %}
    {% endfor %}

    {% include 'templates/partials/gallery-styles.html' with { galleryStylesFromGallerySpec: gallery_spec } only %}

    {% if gallery_spec|size > 0 %}
      {% set first_gallery_spec = gallery_spec[0] %}
      {% set poster_moment_container_class = first_gallery_spec.background_image.class %}
      {% set poster_moment_item_class = first_gallery_spec.color.class %}
    {% else %}
      {% set poster_moment_container_class = '' %}
      {% set poster_moment_item_class = '' %}
    {% endif %}

    {# Poster Moment Gallery Specification --- End #}

    <div class="poster-moment">
      <a class="nav__anchor nav__anchor--home" id=""></a>
      <div class="poster-moment__container {{ poster_moment_container_class }}" data-gallery-spec='{{ gallery_spec|json }}'>
        <div class="poster-moment__item {{ poster_moment_item_class }}" id="poster-moment__risd">RISD</div>
        <div class="poster-moment__item {{ poster_moment_item_class }}" id="poster-moment__week">WEEKEND<span class="poster-moment__item--superscript">{{ siteShortYear }}</span></div>
      </div>
      {% if home.register_banner === true %}
        <div class="poster-moment__button">
        {% if home.banner_is_a_link === true %}
          <a href="{{ home.banner_link }}" target="_blank" class="poster-moment__button-link">{{ home.banner_text }}</a>
        {% else %}
          <p class="poster-moment__button-text">{{ home.banner_text }}</p>
        {% endif %}
        </div>
      {% endif %}
    </div>


    {# Address and Time #}
    <section class="section__container" id="">
      <div class="announcement__container">
        <h2 class="announcement announcement__date">{{ home.date }}</h2>
        <h2 class="announcement announcement__location">
        {% if home.location.street1 %}{{ home.location.street1 }}{% endif %}
        {% if home.location.street2 %}<br>{{ home.location.street2 }}{% endif %}
        {% if home.location.city %}<br>{{ home.location.city }}{% endif %}{% if home.location.state %}, {{ home.location.state }}{% endif %}{% if home.location.zip %} – {{ home.location.zip }}{% endif %}
        </h2>
      </div>
    </section>

    {% if home.show_events %}
      {# Grouped Featured events #}
      {% for eventGroup in home.featured_events %}
        {% if loop.first %}
          {# <a class="nav__anchor" id="events"></a> #}
        {% endif %}
          <section class="section__container featured-events__container" id="{{ eventGroup.special_events_section_name|lower|replace(' ','-','g') }}">
            <h1 class="section__title">{{ eventGroup.section_title }}</h1>
            <div class="section__description">{{ eventGroup.section_description|safe }}</div>
            {% set featuredEvents = [] %}
            {% for event in eventGroup.events %}
              {% set featuredEvents = featuredEvents.concat([event]) %}
            {% endfor %}
            {% for event in eventGroup.sub_events %}
              {% set featuredEvents = featuredEvents.concat([event]) %}
            {% endfor %}
            {% for event in featuredEvents %}
              {% if loop.first %}
                <div class="featured-events">
              {% endif %}
                  <div class="featured-events__item" data-modal-source-id="{{ event.event_link }}"><a href="#{{ event.event_link }}" class="featured-events__item-link">{{ event.name }}</a></div>
              {% if loop.last %}
                </div>
              {% endif %}
            {% endfor %}
            </section>
        {% if loop.last %}
        {% endif %}
      {% endfor %}


      {# Event Schedule #}

      <section class="section__container calendar-box__container" id="events">

        <h1 class="section__title">{{ home.schedule_title }}</h1>

        <div class="calendar-box">
          <div class="calendar-box__toggle">
            <h4 class="calendar-box__button calendar-box__button--friday active" data-filter="friday">Friday</h4>
            <h4 class="calendar-box__button calendar-box__button--saturday" data-filter="saturday">Saturday</h4>
            <h4 class="calendar-box__button calendar-box__button--sunday" data-filter="sunday">Sunday</h4>
          </div>
          {% for day in events | sort('day') | groupBy('day') %}

            {% if loop.first %}
          <div class="calendar-box__column-container">
            {% endif %}

            {% if loop.index === 1 %}
              <div class="calendar-box__column calendar-box__column--friday">
            {% elseif loop.index === 2 %}
              <div class="calendar-box__column calendar-box__column--saturday calendar-box__column--hidden">
            {% elseif loop.index === 3 %}
              <div class="calendar-box__column calendar-box__column--sunday calendar-box__column--hidden">
            {% endif %}

            {% for event in day %}
              {% set event.start_time_order = event.start_time|date('Hi') %}
              {% if event.end_time %}
                {% set event.end_time_order = event.end_time|date('Hi') %}
              {% else %}
                {% set event.end_time_order = "00" %}
              {% endif %}
              {% set event.sort_order = event.start_time_order + "." + event.end_time_order %}
            {% endfor %}

            {% for event in day|sort('sort_order') %}

              {% if event.description %}
                <a href="#{{ event.event_link }}" class="calendar-box__item" data-modal-source-id="{{ event.event_link }}">
              {% else %}
                <div class="calendar-box__item">
              {% endif %}

                <div class="calendar-box__header">
                  <h4 class="calendar-box__title">
                  {{ event.name }}
                  {% if event.subtitle %}
                    <span class="calendar-box__subtitle">{{ event.subtitle }}</span>
                  {% endif %}
                  </h4>

                  {% if event.start_time %}
                    {% include "templates/partials/time-formatting.html" with {
                      item: event,
                      itemClass: 'calendar-box__info'
                    } %}
                  {% endif %}

                  {% if event.location %}
                    {% spaceless %}
                      <p class="calendar-box__info">{% if event.start_time %}|&#8200;{% endif %}{{ event.location.name }}
                        {% if event.location_details %}
                          ,&#8200;{{ event.location_details }}
                        {% endif %}
                        {% if event.location.address %}
                          ,&#8200;{{ event.location.address }}
                        {% endif %}
                      </p>
                    {% endspaceless %}
                  {% else %}
                    {% if event.location_details %}
                      {% spaceless %}
                        <p class="calendar-box__info">{% if event.start_time %}|&#8200;{% endif %}{{ event.location_details }}</p>
                      {% endspaceless %}
                    {% endif %}
                  {% endif %}

                  {% if event.attendee_limit %}
                    <p class="calendar-box__info">| {{ event.attendee_limit }}</p>
                  {% endif %}

                  {% if home.register_button === true && event.registration_required === true %}
                    <p class="calendar-box__info"> | registration required</p>
                  {% endif %}

                </div>

              {% if event.description %}
                <div class="calendar-box__item-toggle"></div>
              </a>
              {% else %}
              </div>
              {% endif %}


            {% endfor %}
          </div>
          {% endfor %}
          <div class="calendar-box__toggle">
          <h4 class="calendar-box__button calendar-box__button--friday active" data-filter="friday">Friday</h4>
          <h4 class="calendar-box__button calendar-box__button--saturday" data-filter="saturday">Saturday</h4>
          <h4 class="calendar-box__button calendar-box__button--sunday" data-filter="sunday">Sunday</h4>
          </div>
          {% set schedule_pdf = getItem('files', '-Kpay06Iw39hVxeaNK_9') %}
          <div class="calendar-box__link-button">
            <a href="/events" target="_blank">Download the schedule</a>
          </div>
        </div>
      </section>
    {% endif %}


    {# Information Sections #}
    {% for information in infoSnippets %}
      <section class="section__container information__container" id="{{ information.name|lower|replace(' ', '-', 'g') }}">
      {% if information.show_in_nav === true %}
        {# <a class="nav__anchor" id="{{ information.name|lower|replace(' ', '-', 'g') }}"></a> #}
      {% endif %}
        <h1 class="section__title">{{ information.name }}</h1>
        <article class="information__section">
        {% if information.main_description %}
          <div class="information__main-description-container">
            <div class="information__main-description">{{ information.main_description|safe }}</div>
          </div>
        {% endif %}
          {% if information.subsections %}
            {% for subsection in information.subsections %}
              <div class="information__subsection">
              {% if subsection.title %}
                <h2 class="information__subsection-title">{{ subsection.title }}</h2>
              {% else %}
                <h2 class="information__subsection-title">&#160;</h2>
              {% endif %}
                <div class="information__subsection-description">{{ subsection.description|safe }}</div>
              </div>
            {% endfor %}
          {% endif %}
        </article>
        {% if information.button_text %}
          <div class="information__button">
            <a href="{{ information.button_link }}" target="_blank" class="information__button-link">{{ information.button_text }}</a>
          </div>
        {% endif %}
      </section>
    {% endfor %}


    {# Footer Buttons #}
    {% for buttons in home.footer_buttons %}
      {% if loop.first %}
        <section class="section__container--wide footer-buttons__container">
      {% endif %}
          <div class="footer-buttons"><a href="{{ buttons.button_link }}" class="footer-buttons__link" target="_blank">{{ buttons.button_text }}</a></div>
      {% if loop.last %}
        </section>
      {% endif %}
    {% endfor %}

  </main>

{% endblock %}

{% block modal_content %}
  {% set allEvents = [] %}
  {% for event in events %}
    {% set allEvents = allEvents.concat([event]) %}
  {% endfor %}
  {% for event in sub_events %}
    {% set allEvents = allEvents.concat([event]) %}
  {% endfor %}
  <aside class="modal__container">
    <div class="modal__background"></div>
    <div class="modal__item-toggle">&times;</div>
    <div class="modal">
    {% for event in allEvents %}
      <div class="modal__item" id="{{ event.event_link }}" data-modal-target-id="{{ event.event_link }}">
        <div class="modal__header">
          <h4 class="modal__title">
          {{ event.name }}
          {% if event.subtitle %}
            <span class="modal__subtitle">{{ event.subtitle }}</span>
          {% endif %}
          </h4>
          <p class="modal__info">{{ event.day }}</p>
          {% if event.start_time %}
            {% include "templates/partials/time-formatting.html" with {
              item: event,
              itemClass: 'modal__info'
            } %}
          {% endif %}

          {% if event.location %}
            {% spaceless %}
              <p class="modal__info">
              {% if event.location.google_map_link %}
                <a href="{{ event.location.google_map_link }}" target="_blank">{{ event.location.name }}
                  {% if event.location_details %}
                    ,&#8200;{{ event.location_details }}
                  {% endif %}
                  {% if event.location.address %}
                    ,&#8200;{{ event.location.address }}
                  {% endif %}
                </a>
              {% else %}
                {{ event.location.name }}
                {% if event.location_details %}
                  ,&#8200;{{ event.location_details }}
                {% endif %}
                {% if event.location.address %}
                  ,&#8200;{{ event.location.address }}
                {% endif %}
              {% endif %}

              </p>
            {% endspaceless %}
          {% endif %}

          {% if event.attendee_limit %}
            <p class="modal__info">{{ event.attendee_limit }}</p>
          {% endif %}

          {% if home.register_button === true && event.registration_required === true %}
            <a href="" class="modal__button">Register now</a>
          {% endif %}

        </div>

        {% if event.description %}
          <div class="modal__description">{{ event.description|safe }}</div>
        {% endif %}

        {% if event.sub_events %}
          <div class="modal__subevent-container">
          {% for subevent in event.sub_events %}
            <div class="modal__subevent">
              <h4 class="modal__subevent-title">
                {{ subevent.name }}
              {% if subevent.subtitle %}
                <span class="modal__subevent-subtitle">{{ subevent.subtitle }}</span>
              {% endif %}
              </h4>

              {% if subevent.start_time %}
                {% include "templates/partials/time-formatting.html" with {
                  item: subevent,
                  itemClass: 'modal__subevent-info'
                } %}
              {% endif %}


              {% if subevent.locations %}
                {% for location in subevent.locations %}
                  {% spaceless %}
                  <p class="modal__subevent-info">{{ location.location.name }}
                  {% if location.location_details %}
                    ,&#8200;{{ location.location_details }}
                  {% endif %}
                  {% if location.location.address %}
                    ,&#8200;{{ location.location.address }}
                  {% endif %}
                  </p>
                  {% endspaceless %}
                {% endfor %}
              {% endif %}

              {% if subevent.attendee_limit %}
                <p class="modal__subevent-info">{{ subevent.attendee_limit }}</p>
              {% endif %}

              {% if subevent.description %}
                <div class="modal__subevent-description">{{ subevent.description|safe }}</div>
              {% endif %}

            </div>
          {% endfor %}
          </div>
        {% endif %}

      </div>
    {% endfor %}
    </div>
  </aside>

  <footer class="FooterEndnotes">
    <a href="https://www.risd.edu" target="_blank" rel="noopener">
      <img src="/static/images/icons/risd-seal.svg" width="72" height="72" alt="RISD seal" title="Go to www.risd.edu">
    </a>

    <nav class="links">
      <ul>
        <li><a href="https://www.risd.edu" target="_blank" rel="noopener">risd.edu</a></li>
        <li><a href="https://alumni.risd.edu" target="_blank" rel="noopener">Alumni resources</a></li>
        <li><a href="https://engage.risd.edu/" target="_blank" rel="noopener">Support us</a></li>
      </ul>
    </nav>

    <nav class="social-media">
      <a href="https://twitter.com/RISDalumni" target="_blank" rel="noopener">
        <img src="/static/images/icons/twitter.svg" width="36" height="36" alt="Twitter" title="Go to RISD’s Twitter page">
      </a>

      <a href="https://www.instagram.com/risd1877/" target="_blank" rel="noopener">
        <img src="/static/images/icons/instagram.svg" width="36" height="36" alt="Instagram" title="Go to RISD’s Instagram page">
      </a>

      <a href="https://www.facebook.com/RISD.Alumni.Relations/" target="_blank" rel="noopener">
        <img src="/static/images/icons/facebook.svg" width="36" height="36" alt="Facebook" title="Go to RISD’s Facebook page">
      </a>
    </nav>
  </footer>

{% endblock %}
