{% extends "templates/partials/base-without-header.html" %}

{% block title %}{% parent %}{% endblock %}

{% block body_attributes %}
  class="layout__black layout__transition"
{% endblock %}

{% set home = cms.home %}
{% set audiences = cms.audiences %}
{% set transition = cms.transitionpage %}

{% block content %}

  <main class="home">

    {% if transition.transition_page_active === true %}

      <div class="poster-moment">
        <a class="nav__anchor nav__anchor--home" id=""></a>
        <div class="poster-moment__container">
          <div class="poster-moment__item" id="poster-moment__modifier--2">RISD</div>
          <div class="poster-moment__item poster-moment__modifier" id="poster-moment__modifier--3">Test</div>
          <div class="poster-moment__item poster-moment__modifier" id="poster-moment__modifier--4">the</div>
          <div class="poster-moment__item poster-moment__modifier" id="poster-moment__modifier--2">date</div>
          <div class="poster-moment__item" id="poster-moment__modifier--3">WEEK—</div>
          <div class="poster-moment__item" id="poster-moment__modifier--4">END<span class="poster-moment__item--superscript">&#xB9;&#8311;</span></div>
          <div class="poster-moment__item poster-moment__modifier" id="poster-moment__modifier--2">Oct.</div>
          <div class="poster-moment__item poster-moment__modifier" id="poster-moment__modifier--4">6–8</div>
          <div class="poster-moment__item poster-moment__modifier" id="poster-moment__modifier--3">2017</div>
        </div>
      </div>

      <section class="section__container transition-text__container">
        <article class="transition-text">
          {# <div class="transition-text__title">{{ transition.location|safe }}</div> #}
          <div class="transition-text__description">{{ transition.description|safe }}<br><a href="{{ transition.past_year_schedule_link }}">{{ transition.past_year_schedule_title }}</a></div>
        </article>
      </section>

    {% else %}

    <div class="main-nav">
      <div class="main-nav__container">
        <div class="main-nav__item" id="main-nav__risd">RISD</div>
        {% for audience in audiences %}
          <div class="main-nav__item" id="main-nav__modifier--{{ loop.index }}"><a class="main-nav__link" href="{{url(audience)}}">{{audience.name}}</a></div>
        {% endfor %}
        <div class="main-nav__item" id="main-nav__week">WEEK—</div>
        <div class="main-nav__item" id="main-nav__end">END<span class="main-nav__item--superscript">&#xB9;&#x2076;</span></div>
      </div>
    </div>

    {% endif %}

  </main>

{% endblock %}
