{# ------------------------------------------------------- #}
{# ONE OFF VIEW transitionpage #}
{# This page can use any data from http:localhost:2000/cms/#/form/transitionpage/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this transitionpage's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.transitionpage.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.transitionpage.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.transitionpage.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.transitionpage.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.transitionpage.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Offseason Homepage: </strong>
        {{ cms.transitionpage.offseason_homepage }}
      </li>
      <li>
        <strong>Transition Page Active: </strong>
        {{ cms.transitionpage.transition_page_active }}
      </li>
      <li>
        <strong>Start Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.transitionpage.start_date|date('F d Y') }}
      </li>
      <li>
        <strong>End Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.transitionpage.end_date|date('F d Y') }}
      </li>
      <li>
        <strong>Location: </strong>
        {{ cms.transitionpage.location|safe }}
      </li>
      <li>
        <strong>Description: </strong>
        {{ cms.transitionpage.description|safe }}
      </li>
      <li>
        <strong>Past Year Schedule Title: </strong>
        {{ cms.transitionpage.past_year_schedule_title }}
      </li>
      <li>
        <strong>Past Year Schedule Link: </strong>
        {{ cms.transitionpage.past_year_schedule_link }}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ cms.transitionpage.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ cms.transitionpage.slug }}
      </li>
  </ul>
{% endblock %}
