$white: rgb(255, 255, 255);
$white--highlight: rgba(255, 255, 255, 0.99);
$black: rgb(0, 0, 0);
$black--highlight: rgba(0, 0, 0, 0.99);
// $campaign-color: rgb(82, 252, 234);
// $campaign-color--highlight: rgba(82, 252, 234, 0.99);
$campaign-color: rgb(0, 244, 217);
$campaign-color--highlight: rgba(0, 244, 217, 0.99);

// 2016 campaign colors
// $campaign-color: rgb(233, 61, 172);
// $campaign-color--highlight: rgba(233, 61, 172, 0.99);
