$white: rgb(255, 255, 255);
$white--highlight: rgba(255, 255, 255, 0.99);
$black: rgb(0, 0, 0);
$black--highlight: rgba(0, 0, 0, 0.99);
$campaign-color: rgb(151, 222, 77);
$campaign-color--highlight: rgba(151, 222, 77, 0.99);
$campaign-color--print: rgb(0, 0, 0);
