$space--xxsmall: 0.512rem*1.2;
$space--xsmall: 0.64rem*1.2;
$space--small: 0.8rem*1.2;
$space--medium: 1rem*1.2;
$space--large: 1.25rem*1.2;
$space--xlarge: 1.563rem*1.2;
$space--xxlarge: 2.441rem*1.2;
$space--xxxlarge: 3.815rem*1.2;
