$space--xxsmall: modular-scale(-5)*1.2;
$space--xsmall: modular-scale(-2)*1.2;
$space--small: modular-scale(-1)*1.2;
$space--medium: modular-scale(0)*1.2;
$space--large: modular-scale(1)*1.2;
$space--xlarge: modular-scale(2)*1.2;
$space--xxlarge: modular-scale(4)*1.2;
$space--xxxlarge: modular-scale(6)*1.2;
