@font-face {
  font-family: 'Modern Pictograms Pro';
  font-weight: 100;
  src: url("../fonts/modernpictogramspro_234.woff");
}

$ff-sans: "Gotham Narrow A", "Gotham Narrow B", "Helvetica", sans-serif;
$ff-pictographic: 'Modern Pictograms Pro', 'Helvetica', sans-serif;

@mixin font-family($ff) {
  font-family: $ff;
}

$lh-tight: 0.844;
$lh-normal: 1.2;
$lh-loose: 1.15;

/* --------------------------------------------------------

Remove the unit of a length
@param {Number} $number - Number to remove unit from
@return {Number} - Unitless number

-------------------------------------------------------- */
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}


/* --------------------------------------------------------

Variable Map Lists for the text-size mixin

-------------------------------------------------------- */

$s: (
  base: (14px, 20px),
  medium: (18px, 24px),
) !default;

$m: (
  base: (21px, 28px),
  medium: (24px, 30px)
) !default;

$l: (
  base: (35px, 40px),
  small: (36px, 42px),
  medium: (53px, 60px),
  large: (64px, 72px)
) !default;

$xl: (
  base: (59.241706161px, 50px),
  medium: (99.526px, 84px),
  large: (113.744075829px, 96px),
  huge: (127.962085308px, 108px)
) !default;


/* --------------------------------------------------------

Mixin for font-size and line-height definition
  Usage Example: @include text-size($l);

-------------------------------------------------------- */

@mixin text-size($fs-map: $regular, $fs-breakpoints: $breakpoints, $lineheight: "") {
  @each $fs-breakpoint, $keyNumber in $fs-map {

    @if map-has-key($fs-breakpoints, $fs-breakpoint) {
    } @else {
      @warn "Breakpoints have not been defined correctly";
    }

    // @debug $fs-breakpoint;
    // @debug $keyNumber;

    $fontSize: nth($keyNumber, 1);
    $leading: nth($keyNumber, 2);
    $leading-unitless: calc(#{strip-unit($leading)} / #{strip-unit($fontSize)});

    // @debug $lineheight;
    @if $lineheight != "" {
      $leading-unitless: $lineheight;
    }

    // @debug $fontSize;
    // @debug $leading;
    // @debug $leading-unitless;

    // @debug "------";

    @include respond-above($fs-breakpoint) {
      font-size: $fontSize;
      line-height: $leading-unitless;
    };
  }
}
